@import "base16-catppuccin-latte.css";

* {
    font-family: Material Design Icons, Inter;
    font-size: 10px;
    border-radius: 0px;
    min-height: 0;
    margin-left: 5px;
    margin-right: 5px; 
    /*margin: 0.1em 0.1em 0.1em 0.1em;*/
}

window#waybar {
    background-color: @base01;
    border-radius: 0px;
    opacity: 1.0; 
}

window#waybar.hidden {
    opacity: 0.2;
}

@keyframes blinkr {
    to {
        background-color: @base00;
    }
}

/*button {
    border: none;
    border-radius: 3px;
}*/


#workspaces{
}

#workspaces button {
    padding: 0px 4px; 
    /*background-color: transparent;*/
    color: @base04;
}

#workspaces button:hover {
    background: @base01;
}

#workspaces button.focused {
    color: @base0D;
    /*background-color: @base03;*/
    border-bottom: 2px solid @base0D;
    font-weight: bold;
}

#workspaces button.urgent {
    color: @base08;
}

#mode {
    padding: 0px 4px;
    color: @base0B;
    font-weight: bold;
}

#clock,
#battery,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#scratchpad,
#mpris,
#custom-power,


#window,
#workspaces {
    background-color: transparent;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    font-size: 12px;
    color: @base04;
}

#custom-power {
    font-size: 12px;
    color: @base04;
}

#battery {
    padding-right: 16px;
    color: @base0D;
}

#battery.charging, #battery.plugged {
    color: @base0B;
}

@keyframes blink {
    to {
        color: @base03;
    }
}

#battery.warning:not(.charging) {
    color: @base08;
  }


label:focus {
    background-color: @base01;
}

#backlight {
    color: @base04;
    padding-right: 8px;
}

#network {
    color: @base04;
    padding-top: 1px;
}

#network.disconnected, #network.disabled {
    color: @base05;
}

#pulseaudio {
    color: @base0E;
    padding-right: 16px;
}

#pulseaudio.muted {
    color: @base03;
    padding-right: 16px;
}

#wireplumber {
    background-color: @base00;
    color: @base05;
}

#wireplumber.muted {
    color: @base03;
}

#mpris {
    color: @base05;
}

#mpris.spotify {
    color: @base0D;
}

#mpris.paused {
    color: @base03;
}

#tray {
    color: @base08;
    border: 2px solid @base08;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    color: @base0E;
    border: 2px solid @base08;
}

#scratchpad.empty {
	background-color: @base03;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: @base0E;
}

#privacy-item.audio-in {
    background-color: @base0A;
}

#privacy-item.audio-out {
    background-color: @base08;
}
